@import url("jquery-themes/smoothness/smoothness.css");

/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}


div{

-moz-box-sizing: border-box;
-webkit-box-sizing: border-box; /* 2 */
box-sizing:border-box}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */

p,
pre {
    margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/*---------------------------------
	TABLES - kickstart
-----------------------------------*/
table{width:100%;margin:0 0 10px 0;text-align:left;border-collapse: collapse;border-spacing: 0;}
	thead, tbody{margin:0;padding:0;}
	th, td{padding:7px 10px;font-size:1.2em;border-bottom:1px dotted #ddd;text-align:left;}
	thead th{font-size:1em;padding:3px 10px;border-bottom:1px solid #ddd;}
	tbody tr.last th,
	tbody tr.last td{border-bottom:0;}

/* striped */
table.striped{}
	table.striped tr.alt{background:#f5f5f5;}
	table.striped thead th{background:#fff;}
	table.striped tbody th{background:#f5f5f5;text-align:right;padding-right:15px;border-right:1px dotted #e5e5e5;}
	table.striped tbody tr.alt th{background:#efefef;}

/* tight */
table.tight{}
	table.tight th, .tight td{padding:2px 10px;}

/* sortable */
table.sortable{border:1px solid #ddd;}
	table.sortable thead th{cursor: pointer;position:relative;top:0;left:0;border-right:1px solid #ddd;}
	table.sortable thead th:hover{background:#efefef;}
	table.sortable span.arrow{border-style:solid;border-width:5px;
	display:block;position:absolute;top:50%;right:5px;font-size:0;
	border-color:#ccc transparent transparent transparent;
	line-height:0;height:0;width:0;margin-top:-2px;}
	table.sortable span.arrow.up{border-color:transparent transparent #ccc transparent;margin-top:-7px;}


/*******Page layout***/
html,body {
	height:100%
}

html.blankPage, html.blankPage body{
	min-height:1px;
	height:auto;
	overflow:auto;
}

body {
	background-color:#ded;
	color:#191919;
	font:76% Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin:0;
	padding:0;
	text-align:left;
	background-image:url(../images/default/backgrounds/19.png);
	background-repeat:repeat
}

.page {
	width:1200px;
	height:100%;
	text-align:left;
	margin:0 auto;
	z-index:2
}


h1,h2,h3,h4,h5,p{padding-bottom: 0;margin-bottom: 0;}

/*
.page .header{
	height:30px;
	text-align:center;
	margin-bottom:1px;
}
*/
/*--- links within the header KS - Changed heading to header which is more commonly used---*/
.header{background: rgba(255, 255, 255, .5);

-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
 margin-bottom: 4px;
 padding: 5px;
 border: 1px solid #bbb;
 border-top:none;
}

.header a {text-decoration:none;}

.header a:hover {text-decoration:underline}

.header .logo {
	display:inline;
	/*width:60%;*/
	height:100%;
	text-align:center
}

.home-links {
	float:right;
	list-style:none;
	margin:0 10px;}

.home-links li{display:inline;}

/*******************************************************************************************************
NAVIGATION
********************************************************************************************************/
.primary-navigation {
	background:#063 url(../images/default/overlay.png) center -505px repeat-x;

	width:1200px;
	margin:0;
	padding:5px 0 0;
	color:#fff;
	float:left;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;}

.primary-navigation li {list-style:none}

.primary-navigation a.module {
	display:block;
	color:#fff;
	font-weight:700;
	text-decoration:none;
	float:left;
	height:41px;
	margin-top:2px;
	padding:5px 9px 0;
	border-top:1px;
	margin-left:12px
}

.primary-navigation a.module .heading {
	font-size:1.2em;
	line-height:1.2em
}

.primary-navigation a.module .subtitle {
	line-height:.9em;
	font-size:.9em;
	color:#9E9E9E;
	display:block
}

.primary-navigation a.selected {
	color:#000;
	background:url(../images/default/overlay.png) center -505px repeat-x;
	background-color:#eee;
	background-color:rgba(255,255,255,0.5);
	border-top:1px solid #163155;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px
}

.primary-navigation a.selected span.heading {
	font-size:1.2em;
	vertical-align:middle
}

.primary-navigation a.selected span.subtitle {
	color:#000
}

.secondary-navigation {
/* background:url('../images/default/overlay.png') center -505px repeat-x; */
	background-color:#86B69E;
	display:block;
	height:28px;
	border-bottom:1px solid #163155;
	border-collapse:collapse;
	clear:both;
	margin:0;
	padding:5px 0 0
}

.secondary-navigation li {
	display:block;
	float:left;
	border:3px 1px 1px 1px;
	padding:0 6px 0 10px;
	height:22px;
	text-decoration:none;
	font-size:1.1em;
	line-height:1.1em;
	font-weight:700;
	color:#39F
}

.secondary-navigation a {
	color:#fff;
	display:block;
	float:left;
	border:3px 1px 1px 1px;
	padding:5px 6px 0 10px;
	height:22px;
	text-decoration:none
}

.secondary-navigation li a:hover {
	border-bottom:2px solid #063
}

.secondary-navigation .selected {
	color:#000;
	border-bottom:1px solid #fff;
	border-left:1px solid #163155;
	border-right:1px solid #163155;
	border-top:1px solid #163155;
	background:#fff url(../images/default/overlay.png) center -505px repeat-x;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px
}

.secondary-navigation .selected:hover {
	border-bottom:1px solid #fff
}

/****************************************************
CONTENT AREA
***********************************************************/
.content {
	background-color:#fff;
	width:1200px;
 	min-height:70%;
/* 	overflow:auto; */
	padding:10px 20px;
	-moz-box-shadow: 0 0 5px #000;
-webkit-box-shadow: 0 0 5px #000;
box-shadow: 0 0 5px #000;
}

.footer {
	color:#fff;
	background:#063 url(../images/default/overlay.png) center -505px repeat-x;
/* 	min-height:44px; */
	width:1200px;
	margin:0;
	padding:5px 20px;
	float:left;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px
}


ul.dashboard{
background: #ddd;
margin: 20px 0 0;padding: 0;
border-left: #333 3px solid; 	}

.dashboard li{background: #eee;
	 margin: 0;
	 padding: 10px;
	list-style: none;
	list-style-position: inside;
	border: #bbb 1px solid;
	-moz-box-shadow: inset 0px -2px 5px #ddd;
-webkit-box-shadow: inset 0px -2px 5px #ddd;
box-shadow: inset 0px -2px 5px #ddd;
min-width: 340px
		}

.dashboard li:hover{background: #fff;
	-moz-box-shadow: inset 0px -2px 5px #eee;
-webkit-box-shadow: inset 0px -2px 5px #eee;
box-shadow: inset 0px -2px 5px #eee;
 	border-right: #333 3px solid;
}


.dashboard a { color: #2a85e8; text-decoration: none; outline: 0; line-height: inherit; }
	.dashboard a:hover { color: #11639d; }

.dashboard .application-title {
	color:inherit;
	font-size:1.6em;
	border-bottom:2px solid inherit;
	text-decoration:none;
	margin-bottom:13px;
	width:100%;
	display:block;
	z-index:3
}

.dashboard .application-description {
	font-size:1em;
	color:inherit;
	width:100%;
	display:block;
	z-index:3
}

/*******************************************************************************************************
styles for the "my apps" menu, and button
********************************************************************************************************/
/* -- "My Applications" button -- */
.my-apps-button,.my-apps-button.active {
	float:left;
/* 	margin-top:15px */
}



.header .my-apps-button a{ color:#fff;background-color: #063; text-align:center;}
.my-apps-button a .toggle {
	background:url(../images/default/sprite-32.png) -250px -473px no-repeat;
	padding-right:30px
}

.my-apps-button:hover a .toggle {
	background-position:-289px -455px
}

.my-apps-button.active a .toggle {
	background:url(../images/default/sprite-32.png) -329px -436px no-repeat;
	padding-right:30px
}

.my-apps-button.active:hover a .toggle {
	background-position:-369px -417px
}

/* -- my apps menu --*/
.my-apps {
	position:absolute;
	top:25px;
	z-index:100;
}

.my-apps li a:hover {
	cursor:pointer;
	background: url(../images/default/bullet_green.png) -1px center no-repeat;
}

.my-apps .current-item  {
	text-align: left;
	border:1px solid #ddd;
	background: #eee url(../images/default/bullet_black.png) -1px center no-repeat;
}

.my-apps .current-item:hover  {
	text-align: left;
	border:1px solid #222;
	background: #333 url(../images/default/bullet_white.png) -1px center no-repeat;
}

.current-item span.ui-icon{margin-left: -16px;}


.my-apps li a.access-request{background: url(../images/default/bullet_toggle_plus.png) 0 center no-repeat;border-top:1px solid #ccc;}
.my-apps li a.access-request:hover{background:#333 url(../images/default/bullet_add.png) -1px center no-repeat;}


.access-request-alert-button.has-pending,.access-request-alert-button.has-pending:hover{
	font-size:1.1em;
	font-weight:bold;
	color:#C33;
}

/*
.my-apps-button.button.ui-state-default, button.ui-state-default.my-apps-button {
background: #e6e6e6;
color: #555;
border:#999;
}
*/


/*
 * Table
 */
.dataTable {
	margin: 0 auto;
	clear: both;
	width: 100%;
	border-collapse: collapse;
}

.dataTable thead th {
	padding: 3px 0px 3px 10px;
	cursor: pointer;
	*cursor: hand;
}

.dataTable tfoot th {
	padding: 3px 10px;
}

.dataTable td {
	padding: 3px 10px;
}

.dataTable td.center,
.dataTable td.dataTables_empty {
	text-align: center;
}

.dataTable .odd { background-color: #E2E4FF; }
.dataTable .even { background-color: white; }

.odd .sorting_1 { background-color: #D3D6FF; }
.odd .sorting_2 { background-color: #DADCFF; }
.odd .sorting_3 { background-color: #E0E2FF; }
.even .sorting_1 { background-color: #EAEBFF; }
.even .sorting_2 { background-color: #F2F3FF; }
.even .sorting_3 { background-color: #F9F9FF; }


/*
 * Table wrapper
 */
.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
}
.dataTables_wrapper .ui-widget-header {
	font-weight: normal;
}
.dataTables_wrapper .ui-toolbar {
	padding: 5px;
}


/*
 * Page length menu
 */
.dataTables_length {
	float: left;
}


/*
 * Filter
 */
.dataTables_filter {
	float: right;
	text-align: right;
}


/*
 * Table information
 */
.dataTables_info {
	padding-top: 3px;
	clear: both;
	float: left;
}


/*
 * Pagination
 */
.dataTables_paginate {
	float: right;
	text-align: right;
}

.dataTables_paginate .ui-button {
	margin-right: -0.1em !important;
}

.paging_two_button .ui-button {
	float: left;
	cursor: pointer;
	* cursor: hand;
}

.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	* cursor: hand;
	color: #333 !important;
}

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next,
.paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_enabled_previous { background: url('../images/back_enabled.png') no-repeat top left; }
.paginate_enabled_previous:hover { background: url('../images/back_enabled_hover.png') no-repeat top left; }
.paginate_disabled_previous { background: url('../images/back_disabled.png') no-repeat top left; }

.paginate_enabled_next { background: url('../images/forward_enabled.png') no-repeat top right; }
.paginate_enabled_next:hover { background: url('../images/forward_enabled_hover.png') no-repeat top right; }
.paginate_disabled_next { background: url('../images/forward_disabled.png') no-repeat top right; }

/* Full number pagination */
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}


/*
 * Processing indicator
 */
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing:content-box
}


/*
 * Sorting
 */
.dataTable thead th div.DataTables_sort_wrapper {
	position: relative;
	padding-right: 20px;
	padding-right: 20px;
}

.dataTable thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}

.dataTable th:active {
	outline: none;
}

.dataTables_wrapper .odd.row_selected, .dataTables_wrapper .even.row_selected {
background-color: #ddd;
}
/*
 * Scrolling
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}




/*******************************************************************************************************
Custom Datatables and jquery UI styles
********************************************************************************************************/
.fancyDialog.ui-widget.ui-dialog.ui-widget-content{
	padding:0px;
}

.fancyDialog .ui-dialog-content{
	padding:5px 0px 5px 5px !important;
}

/*--- style title bar of createFancyModal dialog ---*/
.ui-dialog-titlebar{
	position:static;
	overflow:hidden;
}
.ui-dialog-titlebar-close{
	float:right;
}
.ui-dialog-titlebar .ui-dialog-title{
	float:left;
	padding:3px;
}


/*--- top and bottom bars ---*/
.fg-toolbar {
	padding:2px 3px
}

/*--- contains table length selector ---*/
.dataTables_length {
	float:left
}

/*--- contains search box ---*/
.dataTables_filter {
	float:right
}

/*--- table info in footer ---*/
.dataTables_info {
	float:left
}

/*--- pagination container ---*/
.dataTables_paginate {
	float:right
}

/*--- common styles for pagination divs ---
.dataTables_paginate span {
	margin:0 2px 0 1px
}

.dataTables_paginate span:hover {
	cursor:pointer
}*/

/*--- "first" and "last" pagination buttons ---
.dataTables_paginate .first,.dataTables_paginate .last {
}*/

/*--- "previous" and "next" pagination buttons ---
.dataTables_paginate .previous,.dataTables_paginate .next {
}*/

/*--- column headings ---*/
.dataTables_wrapper thead,.dataTables_wrapper tfoot {
	font-size:.9em;
	font-weight:700;
	color:#000
}

/*--- Sorting icons that appear in column headings ---*/
.DataTables_sort_icon {
	float:right
}

/*--- even and odd row styles ---*/
.dataTables_wrapper .odd {
	background-color: #d5f5da
}

.dataTables_wrapper .even {
	background-color: #edffe1
}

.dataTables_wrapper .odd,.dataTables_wrapper .even {
	color:#303030
}

.dataTables_wrapper .odd td,.dataTables_wrapper .even td {
	padding:3px
}

/*--- other styles ---*/
.dataTables_wrapper td a {
	color: #268538;
	font-weight:700;
	text-decoration:none
}

.dataTables_wrapper td a:hover {
	border-bottom:2px solid #000
}



/*******************************************************************************************************
Button styles
********************************************************************************************************/
input.small-button,input.medium-button,input.large-button,input.huge-button {
	margin:5px;
	color:#fff;
	background-image:url(../images/default/button_default_bg.png);
	background-position:50% 50%;
	background-repeat:repeat-x;
	border:none
}

input.small-button:hover,input.medium-button:hover,input.large-button:hover,input.huge-button:hover {
	cursor:pointer;
	color:#000;
	background-image:url(../images/default/button_highlight_bg.png)
}

input.small-button {
	padding:2px
}

input.medium-button {
	padding:3px;
	font-size:1.2em
}

input.large-button {
	padding:5px;
	font-size:2em
}

input.huge-button {
	padding:7px;
	font-size:3em
}

/*--- styles for use with jquery themes and others. These styles just set text / button sizes. ---*/
.small-btn,.medium-btn,.large-btn,.huge-btn {
	margin:5px
}

.small-btn:hover,.medium-btn:hover,.large-btn:hover,.huge-btn:hover {
	cursor:pointer
}

.small-btn {
	padding:2px;
	font-size:1em
}

.medium-btn {
	padding:5px;
	font-size:1.5em
}

.large-btn {
	padding:7px;
	font-size:2.5em
}

.huge-btn {
	padding:10px;
	font-size:4em
}

.accordion{}

/*
.round{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
*/

/*******************************************************************************************************
accordion styles
********************************************************************************************************
.accordion-icon {
	height:24px;
	width:24px;
	float:left;
	vertical-align:middle;
	margin:-2px 5px 0
}

.vaccordion-icon-expanded {
	background-image:url(../images/default/accordion_icon_collapse.png)
}

.vaccordion-icon-collapsed {
	background-image:url(../images/default/accordion_icon_expand.png)
}*/

.vaccordion-section-content{
	margin-top:-1px !important;
}



/*******************************************************************************************************
hover text/balloon styles
********************************************************************************************************/
/*--- balloon container ---*/
.balloon-container {
	color:#fff
}

.balloon-top {
}

.balloon-bottom {
}

.balloon-content {
	padding:5px;
	border:1px solid #034d27;
	/* background:url(../images/default/balloon_content_bg.png) left top repeat-x; */
	background:url(../images/default/overlay.png) center -505px repeat-x;
	background-color: #063;
 	text-align:left;
 	font-weight: bold
}

/*--- the text that initiates a balloon ---*/
.hovertext {
	font-size:1.1em;
	color: #268538;
	display:block;
 	float:left;
}

.hovertext:hover {
	cursor:help
}

/*--- div that will overlap calling hovertext if specified ---*/
.balloon-overlap {
	margin:0;
	padding:0
}


/*******************************************************************************************************
styles for validating inputs (gui.buildInput)
********************************************************************************************************/
.gui-input-validation-message-left{float:left;}
.gui-input-validation-message-right{float:right;}

.gui-input-text-container input[type=text]{
	padding-left:18px;
}
.gui-input-text-container.valid input[type=text]{
	background-image:url(../images/default/valid.png);
	background-repeat:no-repeat;
	background-position: 0 4px;
}
.gui-input-text-container.invalid input[type=text]{
	background-image:url(../images/default/invalid.png);
	background-repeat:no-repeat;
	background-position: 0 4px;
}

/*******************************************************************************************************
styles for the suggestion box
********************************************************************************************************/
.suggestion-box{
	display:none;
	position:absolute;
	background-color:white;
	border:1px solid #D3D3D3;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.suggestion-box ul{
	list-style:none;
	padding:0px !important;
	margin:0px;
	text-indent:0px;
}
.suggestion-box ul li{
	color:#324F6F;
	font-size:1.1em;
	font-weight:600;
	padding:2px;
	margin:3px;
	display:block;
	text-indent:0px;
}
.suggestion-box ul li.selected{
	color:#324F6F;
	cursor:pointer;
	padding:1px;
	border:1px solid #D3D3D3;
	background-color:#E6EAEF;
}


/*******************************************************************************************************
basic / common attributes
********************************************************************************************************/
.none {
	float:none;
	border:none;
	margin:none;
	height:auto;
	width:auto;
	display:block;
	clear:none;
	background:none;
	font-size:1em;
	color:inherit
}

.left {
	float:left
}

.right {
	float:right
}

.clear-left {
	clear:left
}

.clear-right {
	clear:right
}

.clear-both {
	clear:both
}

.inline {
	display:inline
}

/*.success{
	color:#0DBF83;
	background-color:#D9E7F7;
	border:1px solid #BCD5F2;
	font-size:1.1em; font-weight:bold;
}

.error{
	color:#C03;
	border:1px solid red;
	background-color:#FF9797;
	padding:3px 3px 3px 45px;
	background-image:url('../images/default/security.png');
	background-position:left center;
	background-repeat:no-repeat;
}*/

span.error,span.alert,span.notice,span.success,span.info {
	padding:.1em;
}

.error,.alert,.notice,.success,.info {
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd
}

.error,.alert {
	background:#fbe3e4;
	color:#8a1f11;
	border-color:#fbc2c4
}

.notice {
	background:#fff6bf;
	color:#514721;
	border-color:#ffd324
}

.success {
	background:#e6efc2;
	color:#264409;
	border-color:#c6d880
}

.info {
	background:#d5edf8;
	color:#205791;
	border-color:#92cae4
}

.error a,.alert a {
	color:#8a1f11
}

.notice a {
	color:#514721
}

.success a {
	color:#264409
}

.info a {
	color:#205791
}

.error table {
	border:0;
	margin:0
}


/* Jquery button mods */
.button.ui-state-default.light-blue,button.ui-state-default.light-blue
{background: #e2e5eb; border-color: #b5c7dd  }
.button.ui-state-hover.light-blue,button.ui-state-hover.light-blue
{background: #8d9bad; border-color: #243e5e  }
/*
.button.ui-state-default.blue,button.ui-state-default.blue
{background: #e2e5eb; border-color: #b5c7dd  }
.button.ui-state-default.light-green,button.ui-state-default.light-green
{background: #e2e5eb; border-color: #b5c7dd  }
.button.ui-state-default.green,button.ui-state-default.green
{background: #e2e5eb; border-color: #b5c7dd  }
.button.ui-state-default.violet,button.ui-state-default.violet
{background: #e2e5eb; border-color: #b5c7dd  }
.button.ui-state-default.violet,button.ui-state-default.violet
{background: #e2e5eb; border-color: #b5c7dd  }
*/

/* Awesome Buttons */
.awesome {
	background:#222 url(../images/default/overlay.png) center -505px repeat-x;
	display:inline-block;
	padding:5px 10px 6px;
	color:#fff;
	text-decoration:none;
	position:relative;
	cursor:pointer;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	text-shadow:0px -1px 1px rgba(0,0,0,0.9);
	border-bottom:1px solid rgba(0,0,0,0.25);
	margin:0 5px 5px;
	border-top:0;
	border-left:0
}

.awesome.round {
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px
}

.awesome.round-top {
	-webkit-border-top-left-radius:50px;
	-webkit-border-top-right-radius:50px;
	-moz-border-radius-topleft:50px;
	-moz-border-radius-topright:50px;
	border-top-left-radius:50px;
	border-top-right-radius:50px
}

.awesome.grid {
	background:url(../images/default/overlay.png) center -303px repeat-x
}

.awesome.stripes {
	background:url(../images/default/overlay.png) center -101px repeat-x
}

.awesome.burlap {
	background:url(../images/default/overlay-burlap.png) center center repeat-x
}

.awesome.pinstripes {
	background:url(../images/default/overlay.png) center -404px repeat-x
}

.high-gloss {
	background:url(../images/default/overlay.png) center -202px repeat-x
}

.awesome:hover {
	background-color:#111;
	color:#fff;
	text-decoration:none
}

#main a.awesome:link,#main a.awesome:visited {
	color:#fff!important
}

.light.awesome {
	color:#000!important;
	text-shadow:0 1px 1px #fff;
	border-bottom:1px solid #666;
	border-bottom:1px solid rgba(0,0,0,0.25)
}

.light.awesome:hover {
	color:#222!important
}

button.awesome,input.awesome[type="button"] {
	border:1px solid #666;
	border:1px solid rgba(0,0,0,0.25);
	-moz-box-shadow:0 0 0 rgba(0,0,0,0.25)
}

input.awesome {
	border:1px solid #666;
	border:1px solid rgba(0,0,0,0.25);
	-moz-box-shadow:0 0 0 rgba(0,0,0,0.25)
}

.small.awesome {
	font-size:.8em
}

.medium.awesome {
	font-size:1em
}

.large.awesome {
	font-size:1.5em;
	padding:8px 14px 9px;
	line-height:1
}

.und-orange.awesome,.und-orange.awesome:visited {
	background-color:#f60
}

.und-orange.awesome:hover {
	background-color:#b64513
}

.und-green.awesome,.und-green.awesome:visited {
	background-color:#063
}

.und-green.awesome:hover {
	background-color:#041
}

.und-green2.awesome,.und-green2.awesome:visited {
	background-color:#090
}

.und-green2.awesome:hover {
	background-color:#007618
}

.grey.awesome,.grey.awesome:visited {
	background-color:#ababab
}

.grey.awesome:hover {
	background-color:#838383
}

.green.awesome,.green.awesome:visited {
	background-color:#91bd09
}

.green.awesome:hover {
	background-color:#749a02
}

.blue.awesome,.blue.awesome:visited {
	background-color:#036
}

.blue.awesome:hover {
	background-color:#042247
}

.light-blue.awesome,.light-blue.awesome:visited {
	background-color:#2daebf
}

.light-blue.awesome:hover {
	background-color:#007d9a
}

.red.awesome,.red.awesome:visited {
	background-color:#e33100
}

.red.awesome:hover {
	background-color:#872300
}

.orange.awesome,.orange.awesome:visited {
	background-color:#ff5c00
}

.orange.awesome:hover {
	background-color:#d45500
}

.yellow.awesome,.yellow.awesome:visited {
	background-color:#ffb515
}

.yellow.awesome:hover {
	background-color:#fc9200
}

.wine.awesome,.wine.awesome:visited {
	background-color:#933
}

.wine.awesome:hover {
	background-color:#772424
}

.magenta.awesome,.magenta.awesome:visited {
	background-color:#a9014b
}

.magenta.awesome:hover {
	background-color:#630030
}

.violet.awesome,.violet.awesome:visited {
	background-color:#6b53a5
}

.violet.awesome:hover {
	background-color:#574b6d
}

/* >> The Magnificent CLEARFIX << */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

.clearfix {
	display:inline-block
}

* html .clearfix {
	height:1%
}

/* Hides from IE-mac \*/
.clearfix {
	display:block
}

@-webkit-keyframes greenPulse {
	frombackground-color:#041;
	-webkit-box-shadow:: 0 0 9px #041
}

50% {
	background-color:#007618;
	-webkit-box-shadow:: 0 0 18px #007618
}

to {
	background-color:#041;
	-webkit-box-shadow:: 0 0 9px #041
}
}

a.und-green:hover {
	-webkit-animation-name:greenPulse;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite
}

/*******************************************************************************************************
Login Page
********************************************************************************************************/
#lpwrap {
	margin:75px auto;
	width:700px;
	height:230px;
	text-align:left;
/* background: #fff; */
	padding:10px
}

#lpwrap span {
	float:left
}

#loginarea {
	float:left;
	width:240px;
	height:181px;
	font-family:"Lucida Grande",Verdana,Arial;
	font-weight:700;
	font-size:small;
	color:#fff;
	padding-top:10px;
	padding-left:10px;
	line-height:20px;
	background-color:#666;
	background-color:rgba(0,0,0,0.38);
}

/*
#loginarea span {
	font-size:8pt;
	font-family:"Lucida Grande",Verdana,Arial,sans-serif;
	color:#fff;
	margin-top:2px;
	margin-bottom:2px
}
*/


/*
#loginarea #sbutton {
	font-family:verdana;
	font-size:90%;
	font-weight:700;
	border:#9AC2AE 1px solid;
	color:#FFF;
	margin-top:8px;
	padding:4px 8px
}
*/
div#colorbox, #colorbox div {
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing:content-box}

#login {
	margin-left:0;
	margin-top:3px;
	margin-bottom:3px;
	padding:3px;
	width:173px;
	border:1px solid #CCC;
	font-family:"Lucida Grande",Verdana,Arial;
	font-size:75%;
	color:#666
}

input {
	font-family:"Lucida Grande",Verdana,Arial;
	font-size:90%
}

.brand {
	float:left;
	width:414px;
	margin-right: 10px
}

.hidden{display: none;}


dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.dropdown:hover .caret,
.open .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 10px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #333;
}

.open {
  *z-index: 1000;
}

.open .dropdown-menu {
  display: block;
}


/* --------------------------------------------------
	:: Grid - foundation
	-------------------------------------------------- */

	.row { width: 100%; max-width: 1200px; min-width: 727px; margin: 0 auto; }
	/* To fix the grid into a certain size, set max-width to width */
	.row .row { min-width: 0px; }

	.column, .columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; }
	.column:first-child, .columns:first-child { margin-left: 0px; }

	 .one.columns,.one.column { width: 4.3%; }
	 .two.columns { width: 13%; }
	 .three.columns { width: 21.7%; }
	 .four.columns { width: 30.4%; }
	 .five.columns { width: 39.1%; }
	 .six.columns { width: 47.8%; }
	 .seven.columns { width: 56.5%; }
	 .eight.columns { width: 65.2%; }
	 .nine.columns { width: 73.9%; }
	 .ten.columns { width: 82.6%; }
	 .eleven.columns { width: 91.3%; }
	 .twelve.columns { width: 100%; }

	 .offset-by-one 	{ margin-left: 13.1%;  }
	 .offset-by-two 	{ margin-left: 21.8%;  }
	 .offset-by-three 	{ margin-left: 30.5%;  }
	 .offset-by-four 	{ margin-left: 39.2%;  }
	 .offset-by-five 	{ margin-left: 47.9%;  }
	 .offset-by-six 	{ margin-left: 56.6%;  }
	 .offset-by-seven 	{ margin-left: 65.3%;  }
	 .offset-by-eight 	{ margin-left: 74.0%;  }
	 .offset-by-nine 	{ margin-left: 82.7%;  }
	 .offset-by-ten 	{ margin-left: 91.4%;  }
	/*.row .offset-by-eleven 	{ margin-left: 95.7%;  }*/

	 .one.centered { margin-left: 47.9%; }
	 .two.centered { margin-left: 43.5%; }
	 .three.centered { margin-left: 39.2%; }
	 .four.centered { margin-left: 34.8%; }
	 .five.centered { margin-left: 30.5%; }
	 .six.centered { margin-left: 26.1%; }
	 .seven.centered { margin-left: 21.8%; }
	 .eight.centered { margin-left: 17.4%; }
	 .nine.centered { margin-left: 13.1%; }
	 .ten.centered { margin-left: 8.7%; }
	 .eleven.centered { margin-left: 4.3%; }

	 .offset-by-one:first-child 	{ margin-left: 8.7%;  }
	 .offset-by-two:first-child 	{ margin-left: 17.4%;  }
	 .offset-by-three:first-child 	{ margin-left: 26.1%;  }
	 .offset-by-four:first-child 	{ margin-left: 34.8%;  }
	 .offset-by-five:first-child 	{ margin-left: 43.5%;  }
	 .offset-by-six:first-child 	{ margin-left: 52.2%;  }
	 .offset-by-seven:first-child 	{ margin-left: 60.9%;  }
	 .offset-by-eight:first-child 	{ margin-left: 69.6%;  }
	.offset-by-nine:first-child 	{ margin-left: 78.3%;  }
	.offset-by-ten:first-child 	{ margin-left: 87%;  }
	.offset-by-eleven:first-child 	{ margin-left: 95.7%;  }

	img, object, embed { max-width: 100%; }
	img { -ms-interpolation-mode: bicubic; }


	/* Clear the columns automagically */
	 .row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	 .row:last-child:after { content: ""; }
	 * html .row, * html .clearfix { height: 1%; }
	 .row, .clearfix { display: inline-block; }
	 .row, .clearfix { display: block; }

/*	--------------------------------------------------
	:: Block grids

	These are 2-up, 3-up, 4-up and 5-up ULs, suited
	for repeating blocks of content. Add 'mobile' to
	them to switch them just like the layout grid
	(one item per line) on phones
	-------------------------------------------------- */

	.block-grid { display: block; overflow: hidden; }
	.block-grid li { display: block; height: auto; float: left; }

	.block-grid.two-up { margin-left: -4% }
	.block-grid.two-up li { margin-left: 4%; width: 46%; }

	.block-grid.three-up { margin-left: -2% }
	.block-grid.three-up li { margin-left: 2%; width: 31.3%; }

	.block-grid.four-up { margin-left: -2% }
	.block-grid.four-up li { margin-left: 2%; width: 23%; }

	.block-grid.five-up { margin-left: -1.5% }
	.block-grid.five-up li { margin-left: 1.5%; width: 18.5%; }


/*	--------------------------------------------------
	:: Forms - bootstrap
	-------------------------------------------------- */

form {
  margin: 0 0 18px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #eee;
}
legend small {
  font-size: 13.5px;
  color: #999999;
}

label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
/*   width: 210px; */
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
label input,
label textarea,
label select {
  display: block;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */

  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
  /* IE9 and down */

}
input[type="image"] {
  border: 0;
}
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #ffffff;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
}
select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 28px;
}
input[type="file"] {
  line-height: 18px \9;
}
select {
/*   width: 220px; */
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
textarea {
  height: auto;
}
input[type="hidden"] {
  display: none;
}
.radio,
.checkbox {
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
input,
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0;
}
input,
textarea,
.uneditable-input {
  margin-left: 0;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #eeeeee;
  border-color: #ddd;
  cursor: not-allowed;
}
form .warning > label,
form .warning .help-block,
form .warning .help-inline {
  color: #c09853;
}
form .warning input,
form .warning select,
form .warning textarea {
  color: #c09853;
  border-color: #c09853;
}
form .warning input:focus,
form .warning select:focus,
form .warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: 0 0 6px #dbc59e;
  -moz-box-shadow: 0 0 6px #dbc59e;
  box-shadow: 0 0 6px #dbc59e;
}
form .warning .input-prepend .add-on,
form .warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
form .error > label,
form .error .help-block,
form .error .help-inline {
  color: #b94a48;
}
form .error input,
form .error select,
form .error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
form .error input:focus,
form .error select:focus,
form .error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
form .error .input-prepend .add-on,
form .error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}



form .success > label,
form .success .help-block,
form .success .help-inline {
  color: #468847;
}
form .success input,
form .success select,
form .success textarea {
  color: #468847;
  border-color: #468847;
}
form .success input:focus,
form .success select:focus,
form .success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: 0 0 6px #7aba7b;
  -moz-box-shadow: 0 0 6px #7aba7b;
  box-shadow: 0 0 6px #7aba7b;
}
form .success .input-prepend .add-on,
form .success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

form em.required{ color:#b94a48;}

.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #eeeeee;
  border-top: 1px solid #ddd;
  *zoom: 1;
}
.form-actions:before,
.form-actions:after {
  display: table;
  content: "";
}
.form-actions:after {
  clear: both;
}
.uneditable-input {
  display: block;
  background-color: #ffffff;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
:-moz-placeholder {
  color: #999999;
}
::-webkit-input-placeholder {
  color: #999999;
}
.help-block,
.help-inline {
  color: #555555;
}
.help-block {
  display: block;
  margin-bottom: 9px;
}
.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
}
.input-prepend,
.input-append {
  margin-bottom: 5px;
}
.input-prepend input,
.input-append input,
.input-prepend select,
.input-append select,
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  *margin-left: 0;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend input:focus,
.input-append input:focus,
.input-prepend select:focus,
.input-append select:focus,
.input-prepend .uneditable-input:focus,
.input-append .uneditable-input:focus {
  position: relative;
  z-index: 2;
}
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  border-left-color: #ccc;
}
.input-prepend .add-on,
.input-append .add-on {
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: 18px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  vertical-align: middle;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.input-prepend .add-on,
.input-append .add-on,
.input-prepend .btn,
.input-append .btn {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend .active,
.input-append .active {
  background-color: #a9dba9;
  border-color: #46a546;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}
.input-append input,
.input-append select .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append .uneditable-input {
  border-left-color: #eee;
  border-right-color: #ccc;
}
.input-append .add-on,
.input-append .btn {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
form.search input,
form.inline input,
form.horizontal input,
form.search textarea,
form.inline textarea,
form.horizontal textarea,
form.search select,
form.inline select,
form.horizontal select,
form.search .help-inline,
form.inline .help-inline,
form.horizontal .help-inline,
form.search .uneditable-input,
form.inline .uneditable-input,
form.horizontal .uneditable-input,
form.search .input-prepend,
form.inline .input-prepend,
form.horizontal .input-prepend,
form.search .input-append,
form.inline .input-append,
form.horizontal .input-append {
  display: inline-block;
  margin-bottom: 0;
}
form.search .hide,
form.inline .hide,
form.horizontal .hide {
  display: none;
}
form.search label,
form.inline label {
  display: inline-block;
}
form.search .input-append,
form.inline .input-append,
form.search .input-prepend,
form.inline .input-prepend {
  margin-bottom: 0;
}
form.search .radio,
form.search .checkbox,
form.inline .radio,
form.inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
form.search .radio input[type="radio"],
form.search .checkbox input[type="checkbox"],
form.inline .radio input[type="radio"],
form.inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}
.control-group {
  margin-bottom: 9px;
}
legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate;
}
form.horizontal .control-group {
  margin-bottom: 18px;
  *zoom: 1;
}
form.horizontal .control-group:before,
form.horizontal .control-group:after {
  display: table;
  content: "";
}
form.horizontal .control-group:after {
  clear: both;
}
form.horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
form.horizontal .controls {
  margin-left: 160px;
  /* Super jank IE7 fix to ensure the inputs in .input-append and input-prepend don't inherit the margin of the parent, in this case .controls */

  *display: inline-block;
  *margin-left: 0;
  *padding-left: 20px;
}
form.horizontal .help-block {
  margin-top: 9px;
  margin-bottom: 0;
}
form.horizontal .form-actions {
  padding-left: 160px;
}

html{min-height: 400px;}

label > select, label > input{display:inline;}

.row.hidden{display:none;}