/*******************************************************************************************************
CSS for home page
********************************************************************************************************/
h4{
	display:block; position:relative;
	width:100%; height:auto;
	margin:0px 0px 15px 0px; padding:0px;
	font-size:3em; line-height:normal;
	border-bottom:2px solid #0070A3;
	clear:both;
}

.large-application-button{
	position:relative;
	background-image:url('../images/default/large_app_btn_bg.png');
	width:374px; height:70px;
	border:1px solid #bebebe;
	float:left;
	padding:5px;
	z-index:1;
	margin:5px;
	color:black;
}
.large-application-button:hover{
	color:white;
	border-color:white;
	background-image:url('../images/default/large_app_btn_highlight_bg.png');
}
.large-application-button a{
	color:inherit;
	font-weight:bold; text-decoration:none;
	width:100%; height:100%;
	display:block;
}
.large-application-button a:hover{}

.large-application-button .application-title{
	color:inherit;
	font-size:1.6em;
	border-bottom:2px solid inherit;
	text-decoration:none;
	margin-bottom:13px;
	width:100%;
	display:block;
	z-index:3;
}

.large-application-button .application-description{
	font-size:1em;
	color:inherit;
	width:100%;
	display:block;
	z-index:3;
}

/* - not in use right now (can be used for fancy fade effects with jquery) */
.large-button-effect{
	height:100%; width:100%;
	position:absolute; top:0px; left:0px;
	/*background-image:url('../images/default/large_button_shimmer.png');*/
	background-repeat:repeat-x; background-position:top;
	z-index:-1;
}