@charset "utf-8";
/* CSS Document */

/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */
	.panel { 
		padding: 5px 20px;
		background: #efefef;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
		box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
		margin: 0 0 20px 0;
	}
.panel.alt{		
background: #eeeeee;

		background: -moz-linear-gradient(top, #FFFFFF 0%, #eeeeee 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#eeeeee));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#eeeeee',GradientType=0 );
}
.columns > input[type="text"],.columns > textarea{width:100%;}
input[type="checkbox"]{float: left;margin-right: 1em;}
label{white-space: nowrap}
#depositNumbner{text-align: center;}
label[for="DepositNumber"]{font-weight: 700; }
/* #depositNumber{min-width: 200px; text-align: center;} */
button{border: none;
padding: 0;
background: transparent;}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.comments-holder{width: 65%;float: left; margin-right: 2px}
 .add-comment{width: 33%;float: left;} 
#user-comment{width: 290px;margin-left: 10px;height: 200px;}
.comment{box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25); -webkit-border-top-left-radius: 8px;

     -moz-border-radius-topleft: 8px;

         border-top-left-radius: 8px;
    
        margin: 20px 0;background: #eee;
        
       /*  border-bottom: 1px solid #999; */}
       .comment:after{content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.comment .user-name{font-weight: bold;float: left;clear: right;display: block;}
.comment .date{float: left;display: block;clear: left}
.comment .head{margin: 0; font-size: 12px; padding:8px;min-height: 30px; width: 30%;float: left;
 -webkit-border-top-left-radius: 8px;

     -moz-border-radius-topleft: 8px;

         border-top-left-radius: 8px;

}
.comment .body{background:#fff;margin:0;padding:10px 15px;width: 70%;float: left;min-height: 60px;}


#request-license{max-width: 960px;margin: 0 auto}



.awesome.columns{margin:0 0 0 4.4%;padding:0;}
.awesome[disabled],.awesome[disabled]:hover{background-color:#ccc;}


.prefix {
background: #f2f2f2;
border: 1px solid #cccccc;
}
.prefix {
left: 2px;
-moz-border-radius-topleft: 2px;
-webkit-border-top-left-radius: 2px;
border-top-left-radius: 2px;
-moz-border-radius-bottomleft: 2px;
-webkit-border-bottom-left-radius: 2px;
border-bottom-left-radius: 2px;
overflow: hidden;
}
.prefix, .postfix {
display: block;
position: relative;
z-index: 2;
text-align: center;
width: 100%;
padding-top: 0;
padding-bottom: 0;

}