<!--- set encoding --->
<cfprocessingdirective pageencoding="utf-8">

<!--- //////// show gears shell --->
<cf_gui_buildpage dynamiccontentheight="false">

	<!--- !!!! eventually this template will include common code for setting and displaying MOTD's --->

	<!--- code / page content goes here --->
	
</cf_gui_buildpage>