<!--- set encoding --->
<cfprocessingdirective pageencoding="utf-8">

<!--- //////// show gears shell --->
<cf_gui_buildpage dynamiccontentheight="false">

	<!--- code / page content goes here --->
    
<!---    
	<cfparam name="debug" default="false" />    
	<cfif debug eq false>
		<cflocation url="addmodifycheck.cfm" addtoken="no" />
    </cfif>
--->
</cf_gui_buildpage>