<!--- set encoding --->
<cfprocessingdirective pageencoding="utf-8">

<!--- //////// show gears shell --->
<cf_gui_buildpage dynamiccontentheight="false">
	<!--- code / page content goes here --->
    <cflocation url="studentadmin.cfm" addtoken="no" />
</cf_gui_buildpage>